h2.shopname	{
	margin: 0;
	background-color:#000000;
	color:	#ffffff;
}

#use_rireki_use_day_1i   {width: 80px;}
#use_rireki_use_day_2i   {width: 60px;}
#use_rireki_use_day_3i   {width: 60px;}

#use_rireki_use_number   {width: 60px;}
