<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type"
		content="text/html;charset=utf-8" />
	<title>イザカヤブックマーク</title>
	<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/kaisyaadd.css" type="text/css" />
	<link rel="stylesheet" href="css/kaisyarireki.css" type="text/css" />
</head>
<body>
	<div id="container">
		<div id="header">
			<h1><a href="kaisyalist.html">イザカヤブックマーク</a></h1>
		</div>

		<div class="menu">
			<ul>
				<li><a href="index.html" class="othermenu">TOP</a></li>
				<li><a href="#" class="selectmenu">会社で使ったお店</a></li>
				<li><a href="osusumelist.html" class="othermenu">個人的なオススメ！</a></li>
			</ul>
		</div>
		<div class="hukidashi" style="margin-left:175px">
		</div>

		<div class="post">
			<h2>会社で使ったお店　つぶやき追加</h2>
			<form>
			<h2 class="shopname">アグラ ダイニング AGURA dining</h2>
			</tr>
			<table border="1" summary="追加項目" class="additem">
			<tr>
				<th width="140px">あなたの名前<span class="need">*</span></th>
				<td width="530px"><input type="text" id="yourname" maxlength="7"></td>
			</tr>
			<tr>
				<th>
					つぶやき
				</th>
				<td><TEXTarea name="comment" id="kuchikomi" class="span5" rows="6" maxlength="140"></textarea></td>
			</tr>
		</table>
		<p class="need">
		<strong>* 必須入力</strong>
		</p>
		<div class="btnarea">
			<button class="btn btn-info updbtn" type="button" onclick="location.href='osusumelist.html'">つぶやきを追加する</button>
		</div>	
		</form>
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script>
	</script>
</body>
