.osusumetag {
	color: #000000;
	background-color: #008000;
	width: 160px;
	padding: 5px 10px;
	text-align: center;	
}

.hyoka	{
	margin-top:10px;
	margin-bottom:10px;
}

.memo	{
	width: 570px;
	margin-bottom: 15px;
}

