.smileclass {
	margin-top: 10px;
	margin-bottom: 0px;
	margin-left: 10px;
	margin-right: 0px;
}

.userdel	{
}

.userdel a	{color: #808080;
			text-decoration: none;}

.userdel a:hover {color: #ff0000;
				font-weight:bold;
				text-decoration: none;}

#useraddbtn {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 0px;
}
	
